extends layout

block scripts
  //script(src='/javascripts/dark-unica.js')
  script(src='/javascripts/index.js')

block content
    h1= title
    a(href='https://github.com/victorv977/dolar-realtime')
        img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png')
    div.row
        #container.col-md-12
    div.row
        div.col-md-4
            h3 Dólar Set-FX
        div.col-md-4
            h3 Cierre
            span#price
            span#priceChange(aria-hidden='true')
        div.col-md-4
            h3 Promedio
            span#avgPrice
            span#avgPriceChange(aria-hidden='true')
    div.row
        div.col-md-6
            h4.box-title Precios del dólar
            dl.dl-horizontal
                dt TRM:
                dd
                    span#trm
                    span#trmPriceChange(aria-hidden='true')
                dt Apertura:
                dd
                    span#openPrice
                    span#openPriceChange(aria-hidden='true')
                dt Mínimo:
                dd
                    span#minPrice
                    span#minPriceChange(aria-hidden='true')
                dt Máximo:
                dd
                    span#maxPrice
                    span#maxPriceChange(aria-hidden='true')
        div.col-md-6
            h4.box-title Montos USD
            dl.dl-horizontal
                dt Negociado:
                dd#totalAmmount
                dt Último:
                dd#latestAmmount
                dt Promedio:
                dd#avgAmmount
                dt Mínimo:
                dd#minAmmount
                dt Máximo:
                dd#maxAmmount
                dt Transacciones:
                dd#transactions
    div.row
        #container-brent.col-md-12
    div.row#oilData
        div.col-md-3
            h3 Petróleo Brent
        div.col-md-3
            h3 Cierre
            span#cierreOil
        div.col-md-3
            h3 Actual
            span#priceOil
            span#priceOilChange
            span#priceOilVariation
